@import "./header/style/header.css";
@import "./intro/style/style.css";
@import "./register/style/register.css";
@import "./adminn/admin.css";
@import "./footer/foooter.css";
@import "./basket/basket.css";
@import "./cart/cart.css";
@import "./basketon/basketon.css";
@import "./index.css";


* {
    margin: 0;
    padding: 0;
    
    body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        @media screen and (max-width:425px){
            gap: 10px;
        }
        background-color: rgb(100, 11, 96);

        header, footer {        
            background-color: rgb(100, 11, 96);
            // color: white;
            padding: 20px;

            @media screen and (max-width:425px){
                padding: 5px 10px;
            }
            a {
                color: white;
                text-decoration: none;
            }
            li {
                color: white;
            }
        }

        @media screen and (max-width: 425px){
            font-size: 12px;
        }
        main {
            padding: 0px 20px;
            background-color: white;

            @media screen and (max-width: 425px) {
                border-radius: 5px;
            } 
            a {
                color: black;
            }
        }
    }
}