.rec{

    display: flex;
    flex-direction: column;

    .recommendations {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap:10px;

        .tem {

            width: auto;
            max-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            border: 1px solid rgb(100, 11, 96);
            border-radius: 10px;
            a {
                text-decoration: none;
            }

            &__imageblock {
                img {    
                    max-width: 200px;
                    max-height: 200px;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }

            &__textblock {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                h4 {
                    max-height: 33px;
                }  
                p {
                    max-height: 25px;
                }

                h4, p {
                    font-size: 14px;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }
            }
            
            &__btns {
                .for_user {
                    display: flex;
                    gap: 130px;
                }
                padding-bottom: 10px;
            }
        }
    }

.em {margin: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
    &__block {
        display: flex;
        // justify-content: space-between;
        gap: 40px;

        &__image {
            width: 50%;
            img {
                width: 100%;
                max-width: 500px;
            }
        }
    
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            // width: 100%;
            p {
                padding: 10px 20px;
                border: 1px solid rgb(100, 11, 96);
                border-radius: 5px;
                font-weight: 600;
                width: 90%;
                font-size: 18px;
            }
        }

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            button {
                width: 100%;
                padding: 10px 15px;
                border-radius: 5px;
            }

            .hot {
                border: 1px solid #cb11ab;
                background-color: white;
            }
            .hot:hover {
                transition: ease-in-out;
                transition-duration: 0.5s;
                border: 1px solid white;
                background-color: #cb11ab;
            }

            div{
                display: flex;
                gap: 15px;
            }
        }
    }
}
}